<p>
  <b>Username:</b>
  <%= @user.username %>
</p>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
  <b>Subscriptions:</b>
  <%= @user.subscriptions.count %> (<%= link_to 'See', user_subscriptions_path(@user) %>)
</p>