<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Subs', user_subscriptions_path(@user) %> |
<%= link_to 'Show', @user %> |
<%= link_to 'Back', :back %>
                                                                     