<h1>Listing subscriptions</h1>

<table>
  <tr>
    <th>Service</th>
    <th>Amount</th>
    <th>Currency</th>
    <th>Frequency</th>
    <th>Offset</th>
    <th>Days before notify</th>
    <th>Started</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render @subscriptions %>

</table>

<br />

<%= link_to 'New Subscription', new_user_subscription_path(@user) %> | 
<%= link_to 'Back', :back %>